body {
    padding: 0;
    margin: 0;
    background: #0B132B;
}

.LandingText {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  cursor: default;
}
.LandingText h1 {
	color: #6ab446;
}
.LandingText p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  visibility:hidden;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #6ab446;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6ab446 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  justify-content: center;
  text-align: center;
}
