@font-face {
    font-family: "myFirstFont";
    src: url("./assets/fonts/NumberFont.ttf");
}

.NumberFont {
    font-family: "myFirstFont";
}

body {
    display:block;
    margin: 8px;
    background: #0B132B;
}

.LandingText {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  cursor: default;
}
.LandingText h1 {
	color: #6ab446;
}
.LandingText p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  visibility:hidden;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #6ab446;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.row1{

  display:flex;
  align-items: center;

}

/* For Chrome or Safari */
.marketingprogress::-webkit-progress-bar {
    background-color: #eeeeee;
}

.marketingprogress::-webkit-progress-value {
    background-color: #6ab446 !important;
}

/* For Firefox */
.marketingprogress {
    background-color: #eee;
}

.marketingprogress::-moz-progress-bar {
    background-color: #6ab446 !important;
}

/* For IE10 */
.marketingprogress {
    background-color: #eee;
}

.marketingprogress {
    background-color: #6ab446;
}

hr {
  border: 0;
  clear:both;
  display:block;
  background-color:white;
  height: 1px;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

p.console {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: white;
    margin-top: 0;
}

p.consoleOld {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: grey;
    margin-bottom: 0;
}

.pulsate {
    -webkit-animation: pulsate .5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}

@keyframes pulsate{

  0% {
      opacity: 0.0;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.0;
  }

}


.center {
  justify-content: center;
  text-align: center;
}

.main-content{
  left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  width:100%;
  height:50%;
}

.Button1 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.Button1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.Button1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Button1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.Button2{

  border:1px solid black;
  padding: 2px 4px;
  text-shadow: #cccccc 0 1px 0;
  color: #000000;
  font-size: 11px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  outline: none;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#TicketText{

  font-size:1.5rem;

}

#consoleDiv{
  float:left;
  background:black;
  width:100%;
}

#topDiv{
  float:left;
  width:100%;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.toolTip {
    position: relative;
    display: inline-block;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 160px;
    background-color: #c8c8c8;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 50%;
    margin-left: -19px;
    opacity: 0;
    transition: opacity 1s;
}

h2 {
  line-height: 70%;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#leftColumn {
    float: left;
    width: 275px;
}

.btn-wrapper{

  text-align:center;

}

.whitetext{
  color:white;
}

.navicon{
  width:2em;
  height:2em;
  float: right;
}


#QueueTicketBarId{
    position: relative;
    height: 10px;
    width: 100%;
}
#QueueTicketBarId .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 8px;
    border-radius: 15px;
    animation: progres 3.5s infinite linear;
}

@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
};
